<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/resource/fa/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="/seller/css/comm.css" rel="stylesheet">
    <link href="/seller/css/index.css" rel="stylesheet">

    <script src='/resource/js/jquery.min.js'></script>
    <script src='/resource/js/daydream.js'></script>
    <script src='/seller/js/index.js'></script>
</head>

<body>
    <section id="index">
        <section class="head">
            <div class="logo">
                <i class="fa fa-mixcloud"></i>
                &nbsp; POS销售系统(商家版)
            </div>
            <div class="user">
                <a href="/seller/setting">
                    <img src="/image/seller/<%=data.id%>/head/<%=data.shop_image%>" />
                </a>
                <h3><%=data.shop_name%></h3>

            </div>
        </section>
        <section class="context">
            <section class="left">
                <ul>
                    <li>
                        <a href="/seller/index" class="main">
                            <i class="fa fa-home"></i>&nbsp;&nbsp;首页</a>
                    </li>
                    <li>
                        <a href="/seller/goods/all">
                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;商品</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;订单</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-smile-o"></i>&nbsp;&nbsp;顾客</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cny"></i>&nbsp;&nbsp;财务</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-database"></i>&nbsp;&nbsp;数据</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comments-o"></i>&nbsp;&nbsp;消息</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-list-alt"></i>&nbsp;&nbsp;销售</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i>&nbsp;&nbsp;我的会员</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;帮助</a>
                    </li>
                </ul>
            </section>
            <section class="right">
                <section class="top">
                    <div class="left">
                        <h2>待处理订单</h2>
                        <div>
                            <h1>4</h1>
                            <h4>新订单</h4>
                        </div>
                        <div>
                            <h1 class="two">0</h1>
                            <h4>异常订单</h4>
                        </div>
                        <div>
                            <h1 class="three">6</h1>
                            <h4>退单订单</h4>
                        </div>
                    </div>
                    <div class="right">
                            <h2>待处理评价</h2>
                            <div>
                                <h1>62</h1>
                                <h4>未回复评价</h4>
                            </div>
                            <div>
                                <h1 class="two">1024</h1>
                                <h4>所有评价</h4>
                            </div>
                    </div>
                </section>
                <section class="bottom">
                        <div class="left">
                            <h2>今日总览</h2>
                            <div>
                                <h1>320</h1>
                                <h4>今日订单</h4>
                            </div>
                            <div>
                                <h1 class="two"><i class="fa fa-cny"></i>6666.5</h1>
                                <h4>今日营业额</h4>
                            </div>
                        </div>
                        <div class="right">
                                <h2>消息</h2>
                                <div>
                                    <h1>33</h1>
                                    <h4>客服消息</h4>
                                </div>
                                <div>
                                    <h1 class="two">4</h1>
                                    <h4>顾客聊天</h4>
                                </div>
                        </div>
                    </section>
            </section>
        </section>
    </section>
</body>

</html>